exportClasses(bigcforest, bigctree, bigcprediction)
exportMethods(grow, merge, predict, varimp, fastimp, show, summary)
export(bigrfc, generateSyntheticClass)
import(methods, bigmemory, foreach)
useDynLib(bigrf)